<p style="color: green"><%= notice %></p>

<h1>Classlists</h1>

<div id="classlists">
  <% @classlists.each do |classlist| %>
    <%= render classlist %>
    <p>
      <%= link_to "Show this classlist", classlist %>
    </p>
  <% end %>
</div>

<%= link_to "New classlist", new_classlist_path %>
